// Set the correct sprite paths
$iconSpritePath: image-path("glyphicons-halflings.png");
$iconWhiteSpritePath: image-path("glyphicons-halflings-white.png");

$navbarBackground: #555;
$navbarBackgroundHighlight: #888;
$navbarText: #eee;
$navbarLinkColor: #eee;

@import "bootstrap";

body { padding-top: 60px; }

@import "bootstrap-responsive";

.navbar .brand {
  color: #FAFFB8;
}

@import "codemirror";
@import "jquery.noty";
@import "prettyPhoto";
@import "theme/myeclipse";
@import "site";

[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
          *margin-right: .3em;
          line-height: 14px;
          vertical-align: text-top;
          background-image: url("/images/glyphicons-halflings.png");
          background-repeat: no-repeat;
          margin-top: 1px;
        }
        .icon-trash {
          background-position: -456px 0;
        }
